/*==================================================================== APPARENCE DE LA PAGE ======*/

h3{
    margin-top:10vh;
    margin-bottom:10vh;
    font-family: var(--famille-titre);
}

.conteneur-boites-educ{
    display: grid;
    grid-gap: 40px;
    margin-top: 10vh;
    margin-bottom: 2vh;
}

.boites-educ1{ grid-area: b1;}
.boites-educ2{ grid-area: b2;}
.boites-educ3{ grid-area: b3;}
.boites-educ4{ grid-area: b4;}
.boites-educ5{ grid-area: b5;}
.boites-educ6{ grid-area: b6;}

.titre-boites, .categories-boites, h3{
    text-align:center;
}

.educ{
    background-color:white;
    min-height:32vh;
    text-decoration:none;
    color:black;
    display: flex;
    flex-flow: column nowrap;
    border: 1px solid grey;
    border-radius: 40px 0 40px 40px;
    transition: 0.5s;
    font-family: var(--famille-liens);
}

.educ:hover{
    transform: scale(1.15);
}

.titre-boites{
    font-size: 1.2rem;
}
/*==================================================================== MEDIAS QUERIES ======*/

/*==================================================================== VERSION TÉLÉPHONE ======*/
@media screen and (max-width: 576px){
    .conteneur-boites-educ{
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "b1" "b2" "b3" "b4" "b5" "b6";
        margin: 15%;
    }

    .contour-petit{
        margin-left:2%;
    }
}/* FIN DE LA VERSION TÉLÉPHONE */

/*==================================================================== VERSION TABLETTE ======*/
@media (min-width:577px) and (max-width: 991px){
    .conteneur-boites-educ{
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "b1 b2" "b3 b4" "b5 b6";
    }
}/* FIN DE LA VERSION TABLETTE */

/*==================================================================== VERSION GRAND ÉCRAN ======*/
@media (min-width: 992px){
    .conteneur-boites-educ{
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "b1 b2 b3" "b4 b5 b6";
    }
}/* FIN DE LA VERSION GRAND ÉCRAN */