/*==================================================================== APPARENCE DU SITE ======*/

.contour-petit{
    height:200px;
}

.contour-petit p{
    text-align:center;
    font-size: 1.5rem;
}