#logo-balise{
    background-color: rgb(191, 231, 255);
    display: flex;
}

header{
    font-size: 1.5em;
}
span{
    margin-top:auto;
    margin-bottom: auto;
    font-size: 1em;
}
#logo-balise div{
    display:grid;
    grid-template-rows:1fr 1fr 1fr;
    grid-template-columns: 1fr 2fr;
}
#menu-nav{
    /* display: flex;
    justify-content: space-around;
    flex-flow: row nowrap;
    justify-self: flex-end;
    margin-top:auto;
    margin-bottom: auto; */
}