:root{
  --hcaroussel-large: 89.5vh;
}

.caroussel {
    position: relative;
    /* margin: auto; */
    z-index: 1;
    box-shadow: 0px 4px 10px black;
    /* display:grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows:1fr;
    grid-template-areas: "car1 car2 car3";
    grid-gap: 40px;
    overflow-x:hidden; */
  }
  /* .boites:first-of-type{
    grid-area:car1;
  }
  .boites:nth-of-type(2){
    grid-area:car2;
  }
  .boites:nth-of-type(3){
    grid-area:car3;
  } */
  .boites{
    display:grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr;
    grid-template-areas: "img txt";
  }
  .caroussel-img{
    grid-area: img;
  }

  .caroussel-img img{
    height:var(--hcaroussel-large);
    width:60vw;
    object-fit: cover;
  }
  
  .boites{
      display: none;
  }

  .derniere, .prochaine{
    cursor: pointer;
    position: absolute;
    /* float: left; */
    width: 100vw;
    top: 48%;
    width: auto;
    margin-top: -23px;
    padding: 17px;
    color: white;
    font-weight: bold;
    font-size: 19px;
    transition: 0.4s ease;
    border-radius: 0 5px 5px 0;
    user-select: none;
    background-color: rgba(128, 128, 128, 0.342);
  }

  .prochaine {
      right:0;
      border-radius: 4px 0 0 4px;
  }

  .derniere:hover, .prochaine:hover {
    background-color: rgba(0,0,0,0.8);
  }

  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.4s;
    animation-name: fade;
    animation-duration: 1.4s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .5}
    to {opacity: 2}
  }
  
  @keyframes fade {
    from {opacity: .5}
    to {opacity: 2}
  }

  /*================================================== Texte ==================*/
  .boites .caroussel-reste{
    grid-area: txt;
    background-color:rgb(70, 70, 70);
    color: white;
    display: flex;
    flex-flow:column nowrap;
    justify-content: space-between;
    height:var(--hcaroussel-large);
  }
  
  .caroussel-titre{
    text-align:center;
    font-size: 3em;
  }

  .caroussel-texte{
    text-align: justify;
    font-size: 2em;
    line-height: 5vh;
    margin: 0 10%;
  }

  .caroussel-footer{
    text-align: center;
    margin: 1% 2%;
  }

  .caroussel-footer .caroussel-date{
    text-align:right;
  }

  .caroussel-lien{
    color:white;
    font-size: 1.5rem;
  }